    <div id="main-content">
      
      <div id="content">
      	<h2>Our Services</h2>

        <p>We are a software development company that specializes in Usability, Agile Practices, and Product Development.  We develop our own products in house but are always available for consulting work.</p>
       
		<div class="border-bottom">
        	<div class="first">
            	<a href="#" class="thumb"><img src="images/service_1.gif" alt="Sample Image" /></a>
            	<h3>Usability</h3>
                <p>This is the cornerstone of our consulting practice and can be delivered in several varieties.</p>
				<ul class="styledlist">
				   <li>Heuristic Analysis: This is a review of the &ldquo;look and feel&rdquo; and overall workflow of a product.  A usability expert will assess the product based on overall best practices and techniques and provide a report of suggested changes to increase usability.</li>
				   <li>Aliquam tincidunt mauris eu risus.</li>
				   <li>Vestibulum auctor dapibus neque.</li>
				</ul>
            </div>
			
            <div>
            	<a href="#" class="thumb"><img src="images/service_2.gif" alt="Sample Image" /></a>
            	<h3>Agile Practices</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            </div>
            <div>
            <a href="#" class="thumb"><img src="images/service_3.gif" alt="Sample Image" /></a>
            	<h3>Product Development</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            	
            </div>
            
        </div>	

      </div><!--end content-->
      
      <div id="sidebar">        
        <div class="side-box">
        	<div class="t">
                <div class="b">
                	<div class="inner">
                    <h2>We Recommended...</h2>
                    <ul class="side-nav">
                        <li><%= link_to "UX Magazine", "http://www.uxmag.bar", :target => "_blank" %></li>
                        <li><%= link_to "Pragmatic Programmers", "http://www.pragprog.com", :target => "_blank" %></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div><!-- end side-box -->
        
        <div class="side-box">
        	<div class="t">
                <div class="b">
                	<div class="inner">
                    <h2>We Strive For...</h2>
        	<blockquote><p>&ldquo;Delivering the kind of product that our users cannot wait to take advantage of over and over again.&rdquo;</p>
            <p>&mdash; <cite>Paul Spencer, Owner &amp; Founder</cite></p></blockquote>
                   
                    </div>
                </div>
            </div>
        </div><!-- end side-box -->
        
        <div class="no-box get-in-touch">
        <h2>Do you want to talk with us?</h2>
        <p>Drop us an <a href="contact.php">Email</a></p>
		</div>
      	
      </div><!--end sidebar-->          
    </div><!--end main_content-->
