    <div id="main-content">
      
      <div id="content">
      	<h2>Our Services</h2>

        <p>Lorem ipsum ornatus referrentur vim ne, nec nihil facilis ceteros cu, dissentiet necessitatibus ea his. <a href="#">Habeo nonummy</a> deleniti nam te, graece oblique eos ei, oblique erroribus deseruisse ei sit. </p>
       
		<div class="content_column-3 border-bottom">
        	<div class="first">
            	<a href="#" class="thumb"><img src="images/service_1.gif" alt="Sample Image" /></a>
            	<h3><a href="#">Web Design</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            </div>
            <div>
            	<a href="#" class="thumb"><img src="images/service_2.gif" alt="Sample Image" /></a>
            	<h3><a href="#">Copy Writing</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            </div>
            <div>
            <a href="#" class="thumb"><img src="images/service_3.gif" alt="Sample Image" /></a>
            	<h3><a href="#">Branding / Identity</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            	
            </div><!-- end first row -->
            
            <div class="first">
            	<a href="#" class="thumb"><img src="images/service_1.gif" alt="Sample Image" /></a>
            	<h3><a href="#">Creative Strategy</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            </div>
            <div>
            	<a href="#" class="thumb"><img src="images/service_2.gif" alt="Sample Image" /></a>
            	<h3><a href="#">Web Sites + Applications</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            </div>
            <div>
            <a href="#" class="thumb"><img src="images/service_3.gif" alt="Sample Image" /></a>
            	<h3><a href="#">Design Strategy</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            	
            </div><!-- end Second row -->
            
            <div class="first">
            	<a href="#" class="thumb"><img src="images/service_1.gif" alt="Sample Image" /></a>
            	<h3><a href="#">Creative Strategy</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            </div>
            <div>
            	<a href="#" class="thumb"><img src="images/service_2.gif" alt="Sample Image" /></a>
            	<h3><a href="#">Web Sites + Applications</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            </div>
            <div>
            <a href="#" class="thumb"><img src="images/service_3.gif" alt="Sample Image" /></a>
            	<h3><a href="#">Design Strategy</a></h3>
                <p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece.</p>
            	
            </div><!-- end Third row -->
            
        </div>
        <h3>Additional Information</h3>
        	<p>Dissentiet necessitatibus ea his. Habeo nonummy deleniti nam te, graece oblique eos ei, oblique erroribus deseruisse ei sit. Mollis recteque cum at, ad per novum tation everti. Sed an viderer periculis, eu eum soluta possit suavitate. <a href="#">Contact Us ?</a> </p>
        
	

      </div><!--end content-->
      
      <div id="sidebar">        
        <div class="side-box">
        	<div class="t">
                <div class="b">
                	<div class="inner">
                    <h2>We Recommended...</h2>
                    <ul class="side-nav">
                        <li><%= link_to "UX Magazine", "http://www.uxmag.bar", :target => "_blank" %></li>
                        <li><%= link_to "Pragmatic Programmers", "http://www.pragprog.com", :target => "_blank" %></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div><!-- end side-box -->
        
        <div class="side-box">
        	<div class="t">
                <div class="b">
                	<div class="inner">
                    <h2>What We Strive For...</h2>
        	<blockquote><p>&ldquo; Do our best.  Hopefully. &rdquo;</p>
            <p>&mdash; <cite>Paul Spencer, Owner &amp; Founder</cite></p></blockquote>
                   
                    </div>
                </div>
            </div>
        </div><!-- end side-box -->
        
        <div class="no-box get-in-touch">
        <h2>Do you want to talk with us?</h2>
        <p>Drop us an <a href="contact.php">Email</a></p>
		</div>
      	
      </div><!--end sidebar-->          
    </div><!--end main_content-->
