    <div id="main-content">
      <div class="column-4 sub-content clearfix">
        <div class="first">
          <h3>Who We Are</h3>
          <p>Custom software development.  Collaborative and iterative designs.  Simple and easy to use applications.</p>
          <p><a href="about.html">Learn More About Us ?</a></p> 
          </div>
        <div>
          <h3>Our Services</h3>
          <p>Adolescens honestatis usu ut, his movet iusto eu. Ad mei habeo munere ceteros, </p>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Identity and Branding</a></li>
            <li><a href="#">Search Engine Optimization</a></li>
          </ul>
          <p><a href="services.html">View Our Services ?</a></p> 
        </div>
        <div>
          <h3>Testimonial</h3>
          <blockquote>
            <p>&ldquo; No esse putent nusquamvim. Mea elit duis ludus te, qui laudem apeirian at. Quo movet facilisi maluisset ea, in sit oblique equidem legimus. Falli clita liberavisse no pri, nemore habemus oporteat. &rdquo;</p>
            <p>&mdash; <cite>Joefrey, Founder, <a href="#">Fbrushes</a> </cite></p>
          </blockquote>
        </div>
      </div>
      <!--end column4-->
      <div class="column-3 clearfix">
        <div id="twitter" class="first">
          <h3>Udates <em>from</em> Twitter</h3>
          <ul id="twitter_update_list"><li>&nbsp;</li></ul>
          <p><a href="#">Follow Us on Twitter ?</a></p>
        </div>
        <div id="recent-posts">
          <h3>Recent Posts <em>from</em> Blog</h3>
          <ul>
            <li><small class="date">Mar. 16th, 2010</small><span class="post"><a href="#" class="p-title">Fast &amp; Furios Startups - How to Iterate to Awesomeness</a> <cite><em>by</em> <a href="#">John Doe</a></cite></span></li>
            <li><small class="date">Mar. 16th, 2010</small><span class="post"><a href="#" class="p-title">How to Make Sure Your Idea is Valuable</a> <cite><em>by</em> <a href="#">Rob Smith</a></cite></span></li>
          </ul>
          <p><a href="#">View All Posts ?</a></p>
        </div>
        <div id="newsletter" class="lightbox">
          <form action="#" method="post">
            <p>Get the latest news by signing up for our monthly newsletter.</p>
            <p>
              <input type="text" value="email@domain.com..." id="email" name="email"  onblur="if (this.value == ''){this.value = 'email@domain.com...'; }" onfocus="if (this.value == 'email@domain.com...') {this.value = ''; }"  />
            </p>
            <p>
              <input type="image" src="images/button_signup.png" id="signup" />
            </p>
          </form>
        </div>
      </div>
      <!--end column-3-->
    </div>
    <!--end main_content-->