    <div id="main-content">
      
      <div id="content">
      	<h2>About Us</h2>	
        <p>We design and develop products</p>
        <ul class="styledlist">
		   <li>Usability Design</li>
		   <li>Code Quality</li>
		   <li>Have fun.</li>
		</ul>
      </div><!--end content-->
      
      <div id="sidebar">        
        <div class="side-box">
        	<div class="t">
                <div class="b">
                	<div class="inner">
                    <h2>We Recommended...</h2>
                    <ul class="side-nav">
                        <li><%= link_to "UX Magazine", "http://www.uxmag.com", :target => "_blank" %></li>
                        <li><%= link_to "Pragmatic Programmers", "http://www.pragprog.com", :target => "_blank" %></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div><!-- end side-box -->
        
        <div class="side-box">
        	<div class="t">
                <div class="b">
                	<div class="inner">
                    <h2>What We Strive For...</h2>
        	<blockquote><p>&ldquo; Do our best.  Hopefully. &rdquo;</p>
            <p>&mdash; <cite>Paul Spencer, Founder</cite></p></blockquote>
                   
                    </div>
                </div>
            </div>
        </div><!-- end side-box -->
        
        <div class="no-box get-in-touch">
        <h2>Do you want to talk with us?</h2>
        <p>Drop us an <a href="contact.php">Email</a></p>
		</div>
      	
      </div><!--end sidebar-->          
    </div>
    <!--end main_content-->