    <div id="main-content">
      
      <div id="content">
      	<h2>About Us</h2>	
        <p>We take pride in the products we build.  We determine usability for our products by testing with real users and incorporating their feedback.  We ensure that are products have automated testing from the lowest levels of the code through to the presentation.</p>
		
		<p>We enjoy building quality software, learning new techniques, hearing what others on the bleeding edge are doing, teaching others how to become a craftsman in their own work, and most importantly we have fun with what we do.</p>

		<p>We are software craftsman and have decades of software development experience.  This means that we do not let a particular tool or technology dictate how we solve a problem instead we solve the problem using a variety of tools and technologies that are efficient in that problem space.</p>

		<h3>How We Create Quality</h3>

		<h4>Usability Practices</h4>
		<p>We understand that quality is usually measured by the number of defects in a product.  We take that one step further and measure the quality by the level of usability.  We already know that our products are built in a manner that reduces the amount of defects because of our craftsmanship so that gives us the flexibility to focus on what is important for a true quality product and that is usability.</p>
		
		<p>Our founder has a Master of Science in Human Engineering Factors and has the experience to effectively measure and report usability within a product.  We focus on the usability from beginning to end.  See our <%= link_to "Usability Services", :controller => "services", :action => "index" %> for more details.</p>

		<h4>Automated Testing Practices</h4>
		<p>We have over a decade of experience using Agile methods.  An iterative process gives us the ability to focus on priorities and quality while ensuring a quick time to market.  We practice Test Driven Development (TDD) with everything we do and we create hundreds or thousands of tests over the course of a project.  These tests are run anytime the software is changed and gives us instant feedback as to if any existing functions in the product no longer work as expected.  This test bed is what gives us the confidence in our software quality product and lets us move forward with new product ideas.</p>
		
		<h4>Quality of Life</h4>
		<p>We enjoy our personal lives.  Some of our best friends are our co-workers and we enjoy each other&apos;s company outside of work.  We all strive to constantly grow our careers and support each other in their endeavors.  We cherish our time away from work in order to spend time with our friends and family and any other personal goals we may have at the time.  Our enjoyment of what we do for a living bleeds into our personal lives and vice versa.  We believe this is a key ingredient to our success and future success.</p>

      </div><!--end content-->
      
      <div id="sidebar">        
        <div class="side-box">
        	<div class="t">
                <div class="b">
                	<div class="inner">
                    <h2>We Recommended...</h2>
                    <ul class="side-nav">
                        <li><%= link_to "UX Magazine", "http://www.uxmag.com", :target => "_blank" %></li>
                        <li><%= link_to "Pragmatic Programmers", "http://www.pragprog.com", :target => "_blank" %></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div><!-- end side-box -->
        
        <div class="side-box">
        	<div class="t">
                <div class="b">
                	<div class="inner">
                    <h2>What We Strive For...</h2>
        	<blockquote><p>&ldquo; Do our best.  Hopefully. &rdquo;</p>
            <p>&mdash; <cite>Paul Spencer, Owner &amp; Founder</cite></p></blockquote>
                   
                    </div>
                </div>
            </div>
        </div><!-- end side-box -->
        
        <div class="no-box get-in-touch">
        <h2>Do you want to talk with us?</h2>
        <p>Drop us an <a href="contact.php">Email</a></p>
		</div>
      	
      </div><!--end sidebar-->          
    </div>
    <!--end main_content-->